@import '../../../snap-zen/scss/variables';
$left-width:60px;
$left-width-large:230px;
$tool-bar-height:50px;
$menuBackgroundColor: #2b333d;
$menuCheckedBackgroundColor: #24272d;
$menuBorderWidth: 4px;

.dashboard-component {
    height: 100vh;
    .dashboard-left {
        overflow: hidden;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: $left-width;
        background-color: $menuBackgroundColor;
        color: #c5d0de;
        z-index: 101;
        transition-duration: .3s;
        .menu-arrow{
            position: absolute;
            left: 0;
            bottom:0;
            width:100%;
        }
        .collapse-nav {
            display: inline-block;
            width: 100%;
            height: 38px;
            line-height: 38px;
            background: #474d57;
            color: #fff;
            transition-duration: .3s;
        }
        .left-side-top {
            height: 50px;
            img{
                height: 40px;
                margin-top: 10px;
            }
        }
        .menu-item {
            border-left: solid $menuBorderWidth $menuBackgroundColor;
            cursor: pointer;
            width: $left-width-large;
            padding: 8px 15px 8px 20px;
            a{color:#fff;}
            .menu-text {
                display: inline-block;
                margin-left: 10px;
                width: 160px;
            }
        }
        .menu-item:hover,
        .menu-item.checked {
            border-left: solid $menuBorderWidth $menuCheckedBackgroundColor;
            background-color: $menuCheckedBackgroundColor;
            color: #fff;
        }
        .menu-item.checked{
            border-left: solid $menuBorderWidth $color-primary;
        }
    }
    .dashboard-right {
        transition-duration: .3s;
        position: relative;
        margin-left: $left-width;
        margin-top: $tool-bar-height;
        .dashboard-header {
            transition-duration: .3s;
            z-index: 100;
            position: fixed;
            top: 0px;
            right: 0px;
            padding-right:20px;
            height: $tool-bar-height;
            width: calc(100% - #{$left-width});
            background-color: #fff;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
            opacity: 0.9;
        }
        .page-title{
            padding-left: 20px;
            font-size: 22px;
            font-weight: bold;
        }
    }
    .dashboard-left-nav-show {
        width: $left-width-large;
    }
    .dashboard-right-nav-show {
        margin-left: $left-width-large;
        .dashboard-header {
            width: calc(100% - #{$left-width-large});
        }
    }
}