<section>
    <div class="dashboard-component" layout="row">
            <div class="dashboard-left" [class.dashboard-left-nav-show]="menuShow">
                <div class="left-side-top text-center">
                    <img src="../../../assets/images/logo.png" alt="">
                </div>
                <div>
                    <ul>
                        <li class="menu-item" routerLink="/dashboard/liuyan" routerLinkActive="checked">
                            <a>
                                <svg class="icon liuyan" aria-hidden="true">
                                    <use xlink:href="#icon-liuyan"></use>
                                </svg>
                                <span *ngIf="menuShow" class="menu-text">留言管理</span>
                            </a>
                        </li>
                        <li class="menu-item" routerLink="/dashboard/banner-list" routerLinkActive="checked">
                            <a>
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-shuffling-banner"></use>
                                </svg>
                                <span *ngIf="menuShow" class="menu-text">banner管理</span>
                            </a>
                        </li>
                        <li class="menu-item" routerLink="/dashboard/city" routerLinkActive="checked">
                            <a>
                                <svg class="icon loupan" aria-hidden="true">
                                    <use xlink:href="#icon-loupan"></use>
                                </svg>
                                <span *ngIf="menuShow" class="menu-text">城市管理</span>
                            </a>
                        </li>
                        <li class="menu-item" routerLink="/dashboard/store-list" routerLinkActive="checked">
                            <a>
                                <svg class="icon mendianliebiao" aria-hidden="true">
                                    <use xlink:href="#icon-mendianliebiao"></use>
                                </svg>
                                <span *ngIf="menuShow" class="menu-text">门店管理</span>
                            </a>
                        </li>
                        <li class="menu-item" routerLink="/dashboard/setting" routerLinkActive="checked">
                            <a>
                                <svg class="icon tool" aria-hidden="true">
                                    <use xlink:href="#icon-tool"></use>
                                </svg>
                                <span *ngIf="menuShow" class="menu-text">设置</span>
                            </a>
                        </li>
                    </ul>
                    <div class="text-center menu-arrow">
                        <span class="collapse-nav text-center" (click)="menuShow=!menuShow">
                            <svg *ngIf="!menuShow" class="icon double-caret-right" aria-hidden="true">
                                <use xlink:href="#icon-double-caret-right"></use>
                            </svg>
                            <svg *ngIf="menuShow" class="icon double-caret-left" aria-hidden="true">
                                <use xlink:href="#icon-double-caret-left"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="dashboard-right" flex [class.dashboard-right-nav-show]="menuShow">
                <div flex class="dashboard-header" layout="row" layout-align="space-between center">
                    <div class="page-title">{{pageTitle}}</div>
                    <div class="">
                        <button mat-button [matMenuTriggerFor]="menu">{{UserName}}</button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="logOut()">退出系统</button>
                            <button mat-menu-item>Item 2</button>
                        </mat-menu>
                    </div>
                </div>
                <div style="padding: 20px;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
</section>