.form{
  .form-item{
    margin-bottom: 10px;
    label{
      width: 150px;
    }
    .form-field-group{
      .mat-form-field-infix{
        width: auto;
      }
    }
  }
  .submit-button{
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
  }
}