.cdk-global-overlay-wrapper{
  align-items: flex-start!important;
}
.mat-progress-bar{
  height: 2px!important;
}
// .mat-snack-bar-container{
//   transform: translateY(-100%)!important;
// }
.customer-snack-bar-panel{
  transform: translateY(0)!important;
}

.list-wrap{
  .list-header, .list-item{
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
  }
  .list-header{
    font-weight: bold;
  }
}
