.cdk-global-overlay-wrapper{
  align-items: flex-start!important;
}
.mat-progress-bar{
  height: 2px!important;
}
// .mat-snack-bar-container{
//   transform: translateY(-100%)!important;
// }
.customer-snack-bar-panel{
  transform: translateY(0)!important;
}

