// Colors
// -------------------------
$color-primary: #f17e01;
$color-error: #ff4949;
$color-border: #d2d2d2;
$gray_555: #555;

// Border radius
// -------------------------
$border-radius: 5px;

// button height
// -------------------------
$button-height: 36px;
$button-height-small: 30px;
$button-height-large: 42px;
