<section class="store-detail-component">
    <div class="form" [formGroup]="formGroup">
        <div class="form-item" layout="row" layout-align="start center">
            <label>门店名称</label>
            <mat-form-field flex>
                <input matInput placeholder="门店名称" formControlName="storeName"/>
                <mat-error *ngIf="formGroup.controls.storeName.hasError('required')">{{getErrorMessage('required','storeName')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>城市</label>
            <mat-form-field flex>
                <mat-select placeholder="选择城市" formControlName="city" [errorStateMatcher]="matcher">
                    <mat-option>请选择城市</mat-option>
                    <mat-option *ngFor="let item of cityList" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="formGroup.controls.city.hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="formGroup.controls.city.hasError('pattern') && !formGroup.controls.city.hasError('required')">
                    Your selection is invalid
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>地址</label>
            <mat-form-field flex>
                <input matInput placeholder="地址" formControlName="address"/>
                <mat-error *ngIf="formGroup.controls.address.hasError('required')">{{getErrorMessage('required','address')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>价格</label>
            <div flex layout="row" class="form-field-group">
                <mat-form-field flex="1">
                    <input matInput placeholder="封面价格" formControlName="price"/>
                    <span matSuffix>¥</span>
                    <mat-error *ngIf="formGroup.controls.price.hasError('regexp')">{{getErrorMessage('regexp','price')}}</mat-error>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field flex="1">
                    <input matInput placeholder="周一至周四价格" formControlName="priceWorkday"/>
                    <span matSuffix>¥</span>
                    <mat-error *ngIf="formGroup.controls.priceWorkday.hasError('regexp')">{{getErrorMessage('regexp','priceWorkday')}}</mat-error>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field flex="1">
                    <input matInput placeholder="周五至周日价格" formControlName="priceWeekend"/>
                    <span matSuffix>¥</span>
                    <mat-error *ngIf="formGroup.controls.priceWeekend.hasError('regexp')">{{getErrorMessage('regexp','priceWeekend')}}</mat-error>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field flex="1">
                    <input matInput placeholder="整包价格" formControlName="allPrice"/>
                    <span matSuffix>¥</span>
                    <mat-error *ngIf="formGroup.controls.allPrice.hasError('regexp')">{{getErrorMessage('regexp','allPrice')}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>配备</label>
            <mat-form-field flex>
                <input matInput placeholder="配备" formControlName="playItems"/>
            </mat-form-field>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>预定电话</label>
            <mat-form-field flex>
                <input matInput placeholder="预定电话" formControlName="orderNumber"/>
                <mat-error *ngIf="formGroup.controls.orderNumber.hasError('regexp')">{{getErrorMessage('regexp','orderNumber')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>开业时间</label>
            <mat-form-field flex>
                <input matInput placeholder="开业时间" formControlName="openTime"/>
            </mat-form-field>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>封面预览图</label>
            <upload-image [imageList]="imageList" [max]="1" flex></upload-image>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>封面大图</label>
            <upload-image [imageList]="imageList" [max]="1" flex></upload-image>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>活动区图片</label>
            <upload-image [imageList]="imageList" [max]="1" flex></upload-image>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>住宿区图片</label>
            <upload-image [imageList]="imageList" [max]="1" flex></upload-image>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>周边图片</label>
            <upload-image [imageList]="imageList" [max]="1" flex></upload-image>
        </div>
        <div [zkBusy]="saveStoreAsync">
            <button mat-raised-button (click)="saveStore()">保存</button>
        </div>
    </div>
</section>