<section class="setting-component">
    <div class="form" [formGroup]="formGroup">
        <!-- <mat-form-field hintLabel="加盟店个数" appearance="outline">
            <input matInput #input maxlength="10" placeholder="请输入加盟店个数">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field> -->
        <div class="form-item" layout="row" layout-align="start center">
            <label>加盟店个数</label>
            <mat-form-field flex>
                <input matInput placeholder="加盟店个数" formControlName="storeNumber"/>
                <mat-error *ngIf="formGroup.controls.storeNumber.hasError('regexp')">{{getErrorMessage('regexp','加盟店个数')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>已入住城市个数</label>
            <mat-form-field flex>
                <input matInput placeholder="已入住城市个数" formControlName="cityNumber"/>
                <mat-error *ngIf="formGroup.controls.cityNumber.hasError('regexp')">{{getErrorMessage('regexp','已入住城市个数')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>已有加盟商个数</label>
            <mat-form-field flex>
                <input matInput placeholder="已有加盟商个数" formControlName="partnerNumber"/>
                <mat-error *ngIf="formGroup.controls.partnerNumber.hasError('regexp')">{{getErrorMessage('regexp','已有加盟商个数')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-item" layout="row" layout-align="start center">
            <label>品牌团队人数</label>
            <mat-form-field flex>
                <input matInput placeholder="品牌团队人数" formControlName="teamNumber"/>
                <mat-error *ngIf="formGroup.controls.teamNumber.hasError('regexp')">{{getErrorMessage('regexp','品牌团队人数')}}</mat-error>
            </mat-form-field>
        </div>
        <!-- <mat-form-field>
            <input matInput placeholder="加盟店个数" [(ngModel)]="configModel.storeNumber"/>
            <mat-error *ngIf="storeNumber.invalid">{{getErrorMessage('storeNumber')}}</mat-error>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="已入住城市个数"  [(ngModel)]="configModel.cityNumber"/>
            <mat-error *ngIf="cityNumber.invalid">{{getErrorMessage('cityNumber')}}</mat-error>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="已有加盟商个数"  [(ngModel)]="configModel.partnerNumber"/>
            <mat-error *ngIf="partnerNumber.invalid">{{getErrorMessage('partnerNumber')}}</mat-error>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="品牌团队人数"  [(ngModel)]="configModel.teamNumber"/>
            <mat-error *ngIf="teamNumber.invalid">{{getErrorMessage('teamNumber')}}</mat-error>
        </mat-form-field><br> -->
        <div>
            <div class="submit-button" [zkBusy]="saveSettingAsync">
                <button mat-raised-button color="primary" (click)="saveSetting()">保存</button>
            </div>
        </div>
        <!-- <mat-form-field>
            <input matInput placeholder="品牌团队人数" [formControl]="teamNumber"  [(ngModel)]="configModel.teamNumber"/>
            <mat-error *ngIf="teamNumber.invalid">{{getErrorMessage('teamNumber')}}</mat-error>
        </mat-form-field> -->
        <!-- <div [formGroup]="form">
            <mat-form-field>
                <input matInput placeholder="请输入加盟店个数" formControlName="storeNumber"/>
                <mat-error *ngIf="form?.storeNumber?.invalid">{{getErrorMessage('storeNumber')}}</mat-error>
            </mat-form-field><br>
        </div> -->
    </div>
</section>