.upload-image-component{
  .upload-file-wrap {
    margin-right: 16px;
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #d2d2d2;
    margin-top: 10px;
    display: inline-block;
    input[type="file"] {
        opacity: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
    }
    span {
        color: #d2d2d2;
    }
    img {
        width: 80px;
        height: 80px;
    }
    .upload-file-close {
        position: absolute;
        right: -7px;
        top: -13px;
        font-size: 20px;
        color: firebrick;
    }
}
}