<section class="upload-image-component">
    <div class="upload-file-wrap" *ngFor="let item of imageList;let i=index;">
        <img *ngIf="item.base64" [src]="item.base64"/>
        <img *ngIf="!item.base64" [src]="'/api'+item"/>
        <div class="upload-file-close" (click)="removeImage(index)">
            <i class="fa fa-close"></i>
        </div>
    </div>
    <div class="upload-file-wrap" *ngIf="!imageList || imageList.length<9">
        <span class="center" style="font-size:40px;">+</span>
        <input type="file" accept="image/*" (change)="imageFileChange($event)">
    </div>
</section>