.one-half{ width:50%; }
.one-third{ width: 33.333333%; }
.two-third{ width: 66.666667%; }
.one-fourth{ width:25%; }
.three-fourth{ width:75%; }
.one-fifth{ width:20%; }
.two-fifth{ width:40%; }
.three-fifth{ width:60%; }
.four-fifth{ width:80%; }
.one-half,.one-third,.two-third,.three-fourth,.one-fourth,.one-fifth,.two-fifth,.three-fifth,.four-fifth,.float{ position:relative; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}

.one-sixth{ width:16.6666%; }
.one-seventh{ width:14.2857%; }
.one-eighth{ width:12.5%; }
.one-ninth{ width:11.1111%; }
.one-tenth{ width:10%; }

.two-fourth{ width:50%; }
.two-sixth{ width: 33.333333%; }
.two-seventh{ width:28.5714%; }
.two-eighth{ width:25%; }
.two-ninth{ width:22.2222%; }
.two-tenth{ width:20%; }
.one-sixth,.one-seventh,.one-eighth,.one-ninth,.one-tenth,.two-fourth,.two-sixth,.two-seventh,.two-eighth,.two-ninth,.two-tenth{ position:relative; float:left; }


/* .one-half{ width:48%; }
.one-third{ width:30.66%; }
.two-third{ width:65.33%; }
.one-fourth{ width:22%; }
.three-fourth{ width:74%; }
.one-fifth{ width:16.8%; }
.two-fifth{ width:37.6%; }
.three-fifth{ width:58.4%; }
.four-fifth{ width:67.2%; }
.one-sixth{ width:13.33%; }
.five-sixth{ width:82.67%; }
.one-half,.one-third,.two-third,.three-fourth,.one-fourth,.one-fifth,.two-fifth,.three-fifth,.four-fifth,.one-sixth,.five-sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;} */
